<div class="footer wow" data-wow-delay="0.1s">
    <div class="container-fluid">
        <div class="container reveal">
            <div class="footer-info">
                <h3>Zeal Education Socitey's, Narhe-Dhayari Road, Narhe, Pune-411 041</h3>
                <div class="footer-menu">
                    <p>+91 7420834848</p>
                    <p>zeal@gmail.com</p>
                </div>
                <div class="footer-social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-youtube"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="#">Ranangan</a></p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="https://htmlcodex.com">Vineet Sakpal</a> | <a
                            href="https://htmlcodex.com">Sujeet Pawar</a> | <a href="https://htmlcodex.com">Akshay
                            Raut</a> | <a href="https://htmlcodex.com">Riya Roy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>