<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ranangan</title>
    <%- include("./partials/head.ejs") %>
        <!-- Template Stylesheet -->
        <link href="css/indexStyle.css" rel="stylesheet">

</head>

<body>
    <%- include("./partials/nav.ejs") %>



        <!-- Hero Start -->
        <div style="display: flex; align-items: center; background-image: url('img/zeal/home-background.jpg' );background-size: cover; height: 100vh; width: 99vw;"
            id="home" class="hero">
            <h1 class="gradientText"
                style="font-family: 'Rubik Doodle Shadow', system-ui; font-size:100% ;text-align: left; width: 100vw; padding: 0px 40px 40px;font-size: 12vw;">Ranangan</h1>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div id="about" class="about reveal fade-bottom " >
            <div class="container reveal fade-bottom">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img class="img-fluid" src="img/zeal/ranangan.jpeg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div style="margin: auto;" class="section-header text-center m-3">
                            <p>Learn About Us</p>
                            <h2>WELCOME TO RANANGAN</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                The festival holds profound significance as it goes beyond the realm of mere
                                competition. It
                                serves as a platform where students from various colleges, including ZIMCA, ZIMBA,
                                ZCOER,
                                ZEAL ITI, ZEAL POLYTECHNIC, and ZEAL JR. CLG, come together to celebrate their passion
                                for
                                sports and forge lasting bonds. The significance lies not only in the pursuit of
                                athletic
                                excellence but also in fostering a sense of community, teamwork, and a spirit of healthy
                                competition.
                            </p>
                            <p>
                                Ranangan plays a pivotal role in promoting a culture of sports within the
                                campus. By featuring a diverse range of sporting events, from track and field to team
                                sports, the festival encourages students to explore their athletic potential and
                                discover
                                new interests. The emphasis is not solely on winning but on the joy of participation and
                                the
                                invaluable lessons learned through sportsmanship.
                            </p>
                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Service Start -->
        <div id="sports" class="service">
            <div class="container reveal fade-left">
                <div class="section-header text-center reveal fade-bottom " >
                    <p>Register Here</p>
                    <h2>SPORTS HELD</h2>
                </div>
                <div  class="row">
                    <div class="col-lg-4 col-md-6 reveal fade-bottom " >
                        <a style="text-decoration: none;" href="/register/cricket">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img width="100%" src="img/zeal/cricket.gif" alt="">
                                    <!-- <i class="flaticon-workout"></i> -->
                                </div>
                                <h3>Cricket</h3>
                                <p>
                                    "Batting brilliance, bowling mastery, cricket's symphony of skill and strategy."
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 reveal fade-bottom " >
                        <a style="text-decoration: none;" href="/register/football">
                            <div class="service-item ">
                                <div class="service-icon">
                                    <img width="100%" src="img/zeal/goal.gif" alt="">
                                    <!-- <i class="flaticon-workout-1"></i> -->
                                </div>
                                <h3>Football</h3>
                                <p>
                                    "Where feet meet glory, every goal tells a story."
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 reveal fade-bottom " >
                        <a style="text-decoration: none;" href="/register/basketball">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img width="100%" src="img/zeal/hoop.gif" alt="">
                                    <!-- <i class="flaticon-workout-2"></i> -->
                                </div>
                                <h3>Basketball</h3>
                                <p>
                                    "Dribble dreams into reality, slam dunking through the journey of hoops."
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 reveal fade-bottom " >
                        <a style="text-decoration: none;" href="/register/khokho">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img width="100%" src="img/zeal/game (1).png" alt="">
                                    <!-- <i class="flaticon-workout-3"></i> -->
                                </div>
                                <h3>Kho-Kho</h3>
                                <p>
                                    "Chasing dreams, tagging triumphs, Kho-Kho, where speed meets strategy."
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 reveal fade-bottom " >
                        <a style="text-decoration: none;"href="/register/kabaddi">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img width="100%" src="img/zeal/game.png" alt="">
                                    <!-- <i class="flaticon-workout-4"></i> -->
                                </div>
                                <h3>Kabaddi</h3>
                                <p>
                                    "In the arena of bravery, where raids and tackles script tales of valor."
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6 reveal fade-bottom ">
                        <a style="text-decoration: none;" href="/register/individual">
                            <div class="service-item">
                                <div class="service-icon">
                                    <img width="100%" src="img/zeal/relay-race.gif" alt="">
                                    <!-- <i class="flaticon-yoga-pose"></i> -->
                                </div>
                                <h3>Indivual Games</h3>
                                <p>
                                    "Alone in the arena, where every heartbeat echoes victory - the true poetry of an individual's game."
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->

        <!-- Contact Start -->
        <div id="contact" class="contact">
            <div class="container reveal fade-bottom">
                <div class="section-header text-center reveal fade-bottom " >
                    <p>Get In Touch</p>
                    <h2>For Any Query</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4 contact-item reveal fade-bottom " >
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="contact-text">
                                    <h2>Location</h2>
                                    <p>Zeal Education Socitey's, Narhe-Dhayari Road, Narhe, Pune-411 041</p>
                                </div>
                            </div>
                            <div class="col-md-4 contact-item reveal fade-bottom " >
                                <i class="fa fa-phone-alt"></i>
                                <div class="contact-text">
                                    <h2>Phone</h2>
                                    <p>+91 7420834844</p>
                                </div>
                            </div>
                            <div class="col-md-4 contact-item reveal fade-bottom " >
                                <i class="far fa-envelope"></i>
                                <div class="contact-text">
                                    <h2>Email</h2>
                                    <p>zeal@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 reveal fade-bottom " >
                        <div class="contact-form">
                            <div id="success"></div>
                            <form action="/register/contact" method="post" name="sentMessage" id="contactForm" >
                                <div class="control-group">
                                    <input name="name" type="text" class="form-control" id="name" placeholder="Your Name"
                                        required="required" data-validation-required-message="Please enter your name" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input name="email" type="email" class="form-control" id="email" placeholder="Your Email"
                                        required="required"
                                        data-validation-required-message="Please enter your email" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject"
                                        required="required" data-validation-required-message="Please enter a subject" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <textarea name="message" class="form-control" id="message" placeholder="Message"
                                        required="required"
                                        data-validation-required-message="Please enter your message"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div>
                                    <button class="btn" type="submit" id="sendMessageButton">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



        <%- include("./partials/footer.ejs") %>
            <%- include("./partials/script.ejs") %>


</body>

</html>