<div class="topbar transition">
    <div class="bars">
        <button type="button" class="btn transition" id="sidebar-toggle">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="menu">
        <ul>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="images/avatar/avatar-1.png" alt="">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt  size-icon-1"></i>
                        <span>Logout</span></a>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--Sidebar-->
<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
    <div class="sidebar-content">
        <div id="sidebar">

            <!-- Logo -->
            <div class="logo">
                <h2 class="mb-0"><img src="images/logo.jpg"> Ranangan</h2>
            </div>

            <ul class="side-menu">
                <li>
                    <a href="/" class="active">
                        <i class='bx bxs-dashboard icon'></i> Dashboard
                    </a>
                </li>

                <!-- Divider-->
                <li class="divider" data-text="STARTER">Create Schedule</li>

                <li>
                    <a href="/cricket">
                        <i class='bx bxs-meh-blank icon'></i>
                        Cricket
                    </a>
                </li>
                <li>
                    <a href="/football">
                        <i class='bx bxs-meh-blank icon'></i>
                        Football
                    </a>
                </li>
                <li>
                    <a href="/basketball">
                        <i class='bx bxs-meh-blank icon'></i>
                        Basketball
                    </a>
                </li>
                <li>
                    <a href="/khokho">
                        <i class='bx bxs-meh-blank icon'></i>
                        Kho-Kho
                    </a>
                </li>
                <li>
                    <a href="/kabaddi">
                        <i class='bx bxs-meh-blank icon'></i>
                        Kabaddi
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-columns icon'></i>
                        Others
                        <i class='bx bx-chevron-right icon-right'></i>
                    </a>
                    <ul class="side-dropdown">
                        <li><a href="/athletics">Athletics</a></li>
                        <li><a href="/chess">Chess</a></li>
                        <li><a href="/carrom">Carrom</a></li>
                        <li><a href="/tabletennis">Table Tennis</a></li>
                        <li><a href="/badminton">Badminton</a></li>
                    </ul>
                </li>
                <li class="divider" data-text="Atrana">More</li>
                <li> <a href="/contactissue"> <i class='bx bxs-meh-blank icon'></i> See Query Raised
                    </a> </li>
                    <li> <a href="/registrations"> <i class='bx bxs-meh-blank icon'></i> See Registration
                    </a> </li>



            </ul>
        </div>

    </div>
</div>
<!-- </div> -->
<!-- End Sidebar-->


<div class="sidebar-overlay"></div>